# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.sqlite3

# Flask/Project config
instance/
*.db

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment & secrets
.env
*.env

# Uploads & attachments (if any)
uploads/
*.log

# Node/npm (if used)
node_modules/
.next/
out/
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files
*.so
*.egg-info/
dist/
build/